/* RESET */

    * {
        margin: 0;
        padding: 0;
        font-family: 'Manrope', sans-serif;
    }

    html {
        overflow-x: hidden;
    }

/*  */

/* FONT  */

    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

    @font-face {
        font-family: 'Outer';
        src: url(../assets/fonts/itc-serif-gothic-black-588d43e1e915d.otf) format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Outer Light';
        src: url(../assets/fonts/itc-serif-gothic-light-588cee8a0bfb1.otf) format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Outer Regular';
        src: url(../assets/fonts/itc-serif-gothic-regular-588cef4e7134b.otf) format('opentype');
        font-weight: normal;
        font-style: normal;
    }

/*  */

/* MAIN BODY CONFIG */

    .body {
        position: relative;
        margin:0;

        top:0;
        left:0;
    }

    .body-container {
        width: 100%;
        height: 500vh;

        background-image: url(../assets/background/stars.png), linear-gradient(rgba(0,0,0,1) 25%,rgba(20,67,107,1) 60%, rgb(29, 20, 102) 95%,rgb(51, 40, 133) 100%);
        background-repeat: repeat;
    }

/*  */
    
/* CONTAINER DIV GLOBAL */

    .container {
        width: 85%;
        margin: 0 auto;
    }

/*  */

/* NAVBAR  */

    .navbar {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        align-items: center;
        position: absolute;
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.2rem;
        color: #ececec;
    }

    .menu-links {
        display: flex;
        width: 40%; 
        justify-content: space-evenly;
        align-items: center;
    }

    .menu-links section {
        font-family: 'Outer Regular', sans-serif;
    }

    .sticky {
        -webkit-transition: 0.3s;
        transition: 1s;
        z-index: 2; 
        width: 100%;
        position: fixed;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 8px );
        background-color: rgba(0, 0, 0, 0.346);
        -webkit-backdrop-filter: blur( 8px );
    }

/*  */

/* SCROLLBAR  */

    ::-webkit-scrollbar {
        background-color: rgb(13, 55, 92);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(0,149,159);
        background: linear-gradient( rgba(0,149,159,1) 37%, rgba(11,30,38,0) 100%);
        border-radius: 0.3125rem;
    }

/*  */

/* IMAGES  */

    .logo-outer {
        width: 190px;
    }

/*  */

/* MAIN  */

    /* HERO */

        .hero {
            background-image: url(../assets/background/wallpaper.png);
            padding: 500px 0;
            width: 100vw;
            background-size: cover;
        }

        .hero-text p {
            color: white;
            font-family: 'Outer', sans-serif;
        }

        .hero-title {
            font-size: 6rem;
        }

        .hero-subtitle {
            font-size: 2rem;
        }

    /*  */

    /* SOBRE  */

        .about-container {
            color: white;
        }

        .about-container p {
            font-family: 'Outer', sans-serif;
        }

        .title-5rem {
            font-size: 5rem;
            font-family: 'Outer', sans-serif;
            text-align: center;
            margin-top: 20rem;
        }

        .orange-title {
            color: #F97B1F; 
            font-family: 'Outer', sans-serif;
        }

        .about-content section p {
            font-family: 'Outer Regular', sans-serif;
            font-size: 2rem;
            margin-top: 2.5rem;
            text-align: center;
        }

    /*  */

    /* SUPERNOVA  */

    .supernova {
        width: 100vw;
        height: 2000px;
        background: radial-gradient(50% 50% at 50% 50%, #B0EFFF 0%, rgba(0, 204, 255, 0) 100%);
        position: absolute;
        bottom: 0;
        right: 0;
    }

/*  */

/*  */



